# Dependency
node_modules
bower_components
vendor

# Project
source/hello-php/bin
source/wordpress

# config
.sftp-config.json
.idea

# Backup
bk-*

# Misc
.DS_Store

# Lock
composer.lock
yarn.lock

# Log
npm-debug.log
